MONGO_URI
AUTH_GOOGLE_ID
AUTH_GOOGLE_SECRET
RESEND_API_KEY
CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME
NEXT_PUBLIC_SOCKET_SERVER_URL
INTERNAL_SECRET
BETTER_AUTH_SECRET